* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}

.App {
	background-color: #0079bf;
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	overflow: hidden;
	font-size: 18px;
}

#wrapper {
	display: flex;
	justify-content: space-around;
}
