.task {
	background-color: #ebecf0;
	max-width: 280px;
	border-radius: 8px;
	margin: 20px;
	padding: 12px;
	font-size: 18px;
}

button {
	border: none;
	color: #5e6c84;
	font-size: 18px;
	cursor: pointer;
}
img {
	padding-right: 5px;
}

.block {
	display: flex;
}
